.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 10;

    &--content {
        width: 700px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        transform: translateY(-50px);
        border-radius: 8px;

        -webkit-animation-name: modal-animation;
        -webkit-animation-duration: 0.5s;
        animation-name: modal-animation;
        animation-duration: 0.5s;
    }

    &--header{
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;
    }

    &--exit-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        padding: 0.5rem;

        height: 40px;
        width: 40px;
    }

    &--title {
      margin: 0;
    }
    
    &--body {
      border-top: 1px solid #eee;
      padding: 4rem 24px 6rem;
    }
      
}

     
@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
  
@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
  