@import './../../Assets/Styles/style.scss';

.create-button {
    height: 120px;
    width: 200px;
    border: 1px dashed $color-gray-400;
    border-radius: 6px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    &--circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $color-black;
        border: none;
        cursor: pointer;
    }

    &--text {
        color: $color-gray-400;
    }
}