@import './../../Assets/Styles/style.scss';


.slider {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 50px;

    &--arrow {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: $color-white;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    &--arrow-left {
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    &--arrow-right {
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    &--container {
        height: 200px;
        width: calc(100vw - 16px - 200px - 100px);
        
        display: flex;
        align-items: center;
        overflow: hidden;
        scroll-behavior: smooth;
    }
}
